@font-face {
  font-family: 'VL PGothic';
  src: url(/fonts/VL-PGothic-Regular.woff) format("woff");
}

@font-face {
  font-family: 'VL Gothic';
  src: url(/fonts/VL-Gothic-Regular.woff) format("woff");
}

body {
  font-family: 'メイリオ', 'VL PGothic', sans-serif;
  width: 600px;
  margin: 0px auto 0px auto;
}

div#navigation a {
  color: white;
  text-decoration: none;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  padding: 3px 10px 3px 10px;
  margin: 0px 10px 0px 10px;
}

div #title {
  float: left;
}

div #menu {
  float: right;
}

#bar {
  border-bottom: 4px solid black;
  clear: both;
}

#divide_ad {
  margin-top: 5em;
  margin-bottom: 2em;
}

pre, code {
  font-family: 'VL Gothic', monospace;
  font-size: 10pt;
}

pre {
  margin: 1em;
}
