/* global */

@font-face {
  font-family: 'VL Gothic';
  src: url(/fonts/VL-Gothic-Regular.woff) format("woff");
}

body {
  font-family: 'VL PGothic', 'メイリオ', sans-serif;
  width: 700px;
  margin: 0px auto 0px auto;
  background-color: #f8f8f8;
}

p,ol,ul,footer {
  line-height: 1.5em;
}

a:link {
  color: #c11;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  text-decoration: underline;
}

/* navigation bar and header */

nav a.item {
  color: white;
  text-decoration: none;
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  padding: 3px 10px 3px 10px;
  margin: 0px 10px 0px 10px;
}

nav .top {
  float: left;
}

nav .menu {
  float: right;
}

nav #bar {
  border-bottom: 4px solid black;
  clear: both;
}

/* footer */

#divide_footer {
  margin-top: 3em;
}

#divide_ad {
  margin-top: 5em;
  margin-bottom: 2em;
}

/* article header */

article h1.title {
  font-size: 170%;
}

article .history {
  text-align: right;
}

/* article body */

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 115%;
}

ol,ul {
  padding-left: 1em;
  padding-bottom: 0.5em;
}

li {
  margin-top: 0.2em;
}

p.caption {
  text-align: center;
}

/* source code */

pre, code {
  font-family: 'VL Gothic', monospace;
  font-size: 90%;
}

pre {
  margin: 1em;
  white-space: pre-wrap;
  color: #000000;
  overflow: auto;
  border: ridge;
  border-top-left-radius            : 5px;
  border-top-right-radius           : 5px;
  -webkit-border-top-left-radius    : 5px;
  -webkit-border-top-right-radius   : 5px;
  border-bottom-left-radius         : 5px;
  border-bottom-right-radius        : 5px;
  -webkit-border-bottom-left-radius : 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding                           : 8px;
}

.Comment, .co {
  color: #8080f0;
}
.Statement, .kw, .fu {
  color: #999922;
  font-weight: bold;
}
.PreProc {
  color: #aa40aa;
  font-weight: bold;
}
.Constant, .st, .ch {
  color: #dd2020;
}
.ot {
  color: #2020dd;
}
.Identifier, .dt {
  color: #008888;
}
