<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>igreque :: Info -&gt; $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="alternate"
              type="application/atom+xml"
              title="igreque :: Info"
              href="/atom.xml" />
    </head>
    <body>
        <div id="navigation">
          <div id="title">
            <a href="/">igreque :: Info</a>
          </div>
          <div id="menu">
            <a href="/posts/featured.html" class="link">Featured</a>
            <a href="/posts.html" class="link">All</a>
          </div>
          <hr id="bar"/>
        </div>

        <a name="#page_top" id="#page_top"></a>
        $body$
        <hr id="divide_ad" />
    </body>
</html>
