<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="flattr:id" content="qk5jle">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>$title$ :: Igreque -> Info</title>
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--[if lt IE 9]
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"</script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        $if(tags)$
          <meta name="Keywords" content="$tags$" />
        $endif$
        $if(lang)$
          <meta http-equiv="Content-Language" content="$lang$">
        $else$
          <meta http-equiv="Content-Language" content="ja">
        $endif$
        $if(canonicalUrl)$
          <link rel="canonical" href="$canonicalUrl$" />
        $endif$
        <link rel="alternate"
              type="application/atom+xml"
              title="Igreque -> Info"
              href="/atom.xml" />
    </head>
    <body>
        <div id="container">
            <nav>
              <div class="top">
                <a href="/" class="item">Igreque -> Info</a>
              </div>
              <div class="menu">
                <a href="/posts/-links.html" class="item">Links</a>
                <a href="/slides/" class="item">Slides</a>
                <a href="/posts.html" class="item">All</a>
              </div>
              <hr id="bar"/>
            </nav>
            $body$
            <hr id="divide_ad">
            <a href="https://www.haskellers.com/user/3635"><img src="https://www.haskellers.com/static/badge.png" alt="I'm a Haskeller">
            <a href="https://haskell.jp/blog/posts/links.html#the.igreque.info"><img width="234" src="https://haskell.jp/img/supported-by-haskell-jp.svg" alt="Supported By Haskell-jp."></a>
        </div>
    </body>
</html>
