<div id="index">
  <h1>About this website</h1>
  <p lang="en">
    This is the personal website of Yuji Yamamoto (<a href="https://twitter.com/igrep">@igrep</a>) - a Japanese Software Engineer.<br />
    Here I'll write many pages about <a href="#favorites">what I'm interested in</a>.
  </p>
  <p lang="ja">
    このウェブページは、山本悠滋 (<a href="https://twitter.com/igrep">@igrep</a>)の個人的なウェブサイトです。<br />
    私の<a href="#favorites">関心あることなど</a>をひたすら書いていきます。
  </p>
  <h1>Recent posts</h1>
  <ul>
    $posts$
  </ul>
  <!--<p><a href="/posts.html">All posts</a></p>-->

  <a id="favorites" name="favorites">
    <h1>My interests - click to view the posts about them.</h1>
  </a>
  <div>
    $tagcloud$
  </div>
</div>
