<div id="index">
  <section>
      <h1>About this website</h1>
      <p lang="en">
        This is the personal website of YAMAMOTO Yuji (<a href="https://twitter.com/igrep">@igrep</a>) - a Japanese Software Developer.<br>
        See <a href="/posts/-links.html">Links</a> for my SNS account, career, etc.
      </p>
      <p lang="ja">
        このウェブページは、山本悠滋 (<a href="https://twitter.com/igrep">@igrep</a>)の個人的なウェブサイトです。<br>
        経歴やSNSのアカウントなどについては<a href="/posts/-links.html">Links</a>を参照してください。
      </p>
  </section>
  <section>
      <h1>Recent posts</h1>
      <ul>
        $body$
      </ul>
      <p><a href="/posts.html">All Posts</a></p>
  </section>
  <section>
      <a id="favorites" name="favorites">
        <h1>My interests - click to view the posts about them.</h1>
      </a>
      <div>
        $tagcloud$
      </div>
  </section>
</div>
