<article>
  <h1 class="title">$title$</h1>
  $if(subtitle)$
  <h1 class="subtitle">―  $subtitle$</h1>
  $endif$
  <p>by <em>$author$</em> on <strong>$date$</strong></p>
  $if(tags)$
  <div class="tags">Tagged as: $prettytags$.</div>
  $endif$
  <div class="history"><a href="https://github.com/igrep/igreque.info/commits/master/$path$">変更履歴</a></div>
  $if(canonicalUrl)$
  <p>
    この記事は、<a href="$canonicalUrl$">こちらのページ</a>にも同時投稿しています。
  </p>
  $endif$
  $body$
</article>
<hr id="divide_footer">
<footer>
ご意見・ご感想は<a href="mailto:whosekiteneverfly@gmail.com?subject=「$encodedTitle$」について：">whosekiteneverfly@gmail.com</a> まで！<br />
<a href="https://github.com/igrep/igreque.info/edit/master/$path$">こちらで編集してからPull Requestを送る</a>か、<a href="https://github.com/igrep/igreque.info/issues/new?body=http%3a//the.igreque.info/$path$">Issueを送っていただく</a>のも歓迎です！
</footer>
